parameters:
#   Create a free account to get your API access http://en.business.skyscanner.net/en-gb/products/travel-apis/
#   Create a free account at https://postmarkapp.com/ for sending e-mails
    jeancsil.flightspy.api.key: 'API_KEY'
    jeancsil.flightspy.email.api.key: 'YOUR_POSTMARK_API_KEY'
    jeancsil.flightspy.api.host: 'http://partners.api.skyscanner.net'

    jeancsil.flightspy.email.config.from: 'me@mycompany.com'
    jeancsil.flightspy.email.config.to: 'your@company.com'
    jeancsil.flightspy.email.config.subject: 'The best deal!'
    jeancsil.flightspy.email.config.html: '<html><body>This is the html template<br />{message}</body></html>'

    jeancsil.flightspy.http.client.config:
        base_uri: '%jeancsil.flightspy.api.host%'
        timeout: 10
        headers:
            Content-Type: 'application/x-www-form-urlencoded'
            Accept: 'application/json'
            User-Agent: 'Mozilla/4.0 (Windows NT 9.0; WOW64)'
