<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="boot.php" colors="true">
    <testsuites>
        <testsuite name="Flight Spy Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>