[
  {
    "api-key": "your-api-key",
    "from": "FRA-sky",
    "to": "TXL-sky",
    "departure": "2016-10-10",
    "arrival": "2016-11-16",
    "max-price": "3500",
    "country": "BR",
    "currency": "BRL",
    "locale": "pt-BR",
    "adults": "1"
  },
  {
    "from": "SAO-sky",
    "to": "FRA-sky",
    "departure": "2016-10-12",
    "arrival": "2016-11-19",
    "max-price": "10000",
    "country": "BR",
    "currency": "BRL",
    "locale": "pt-BR",
    "adults": "2"
  },
  {
    "from": "DUS-sky",
    "to": "FLN-sky",
    "search-period-from": "2017-07-15",
    "search-period-to": "2017-08-28",
    "search-period-travel-days": 20,
    "max-price": "2500",
    "currency": "EUR",
    "country": "DE",
    "locale": "de-DE",
    "adults": "2",
    "children": "2"
  }
]